body{
    background-color: rgb(140,197,184);
    background-attachment: fixed;
}

.jumbo{
   position: relative;
    left: 220px;
    border-radius: 10px; 
    width: 100%;

}

.title{
    color: white;
    font-family:'Gotu';
    font-size: 60px;

    
}
.title2{
    color: rgb(245,255,250);
}

.ifont{
    color: rgb(36,33,52);
}

.sfont{
    color: black;
}

