body{
    background-image:linear-gradient(60deg, #a9fb98, #a1c4fd, #e2ebf0, #fff8b4);
    background-attachment: fixed;
}

.jumbo{
   position: relative;
    left: 220px;
    border-radius: 10px; 
    width: 100%;

}

.title{
    color: white;
    font-family:'Gotu';
    font-size: 60px;

    
}
.title2{
    color: white;
}

.ifont{
    color: rgb(0,0,110);
}

.gfont{
    color: rgb(90,0,0);
}

.tfont{
    color: rgb(130,0,0);
}
.cfont{
    color: rgb(50,30,0);
}

.bfont{
    color: rgb(165,42,42);
}
.sfont{
    color: black;
}

